<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Text2Subfolders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Text2Subfolders.Properties.Settings>
            <setting name="rootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="subFolders" serializeAs="String">
                <value />
            </setting>
            <setting name="mainFormLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="mainFormSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
        </Text2Subfolders.Properties.Settings>
    </userSettings>
</configuration>